<div class="flex items-center justify-center min-h-screen bg-gradient-to-br from-slate-50 to-slate-100 dark:from-slate-900 dark:to-slate-800">
  <div class="size-full">
    {render_slot(@inner_block)}
    <.flash_group flash={@flash} />
  </div>
</div>
